*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.nav-item a
{
    font-weight: 600;
}
.logo
{
    font-weight: 600;
}
.navbar
{
    background-color: #fff;
}
#home,#projects,#contact .row
{
    background-color: #f8f9fa;
}

.card, .skills .row, #contact .row
{
    border-radius: 15px;
    
}
.cards-heading h2
{
    font-size: 40px;
}
.card-left
{

    background-color:#f8f9fa ;
    border-radius: 15px;
}
.card-left p
{
    line-break: anywhere;
    word-break: break-all;
}

h1 {
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 600;
    background: -webkit-linear-gradient(315deg, #1e30f3 10%, rgb(255, 0, 76) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.skills-heading h2
{
    background: -webkit-linear-gradient(315deg, #1e30f3 10%, rgb(255, 0, 76) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.skills-heading i,#contact i
{
    
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-image: linear-gradient(315deg, #1e30f3 10%, rgb(255, 0, 76) 100%);
}
.skill
{
    background-color: #f8f9fa ;
    padding: 15px 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.skill p
{
    margin-bottom: 0;
    font-size: 1.1rem;
}
.skills .row
{
    background-color: #fff;
}
.contacts-links ul
{
    list-style-type: none;

}
/* /* projects  */
.col-content 
{
    border-radius: 15px;
    background-color: #fff;
}
#contact-me
{
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
}
#contact-me h2
{
    font-size: calc(1.475rem + 2.7vw);
    padding-top: 30px;
}
#contact-me .btn
{
    font-size: 20px;
}